numpy >= 1.24.2, < 2.0.0
pandas >= 2.0.0
coloredlogs >= 15.0.1
# SciPy must be kept low due to a current conflict with pymc and newer scipy versions in Python 3.9
scipy < 1.13; python_version == '3.9'
